.profile {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    width: 500px;
    height: fit-content;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    background-color: rgb(238, 234, 234);
}

ul,
li {
    list-style: none;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #000;
    margin: 20px;
    display: block;
}

.username {
    font-size: 35px;
    font-weight: 500;
}

.tag,
.location {
    color: gray;
    font-size: 25px;
    text-align: center;
}

.statsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 3px solid gray;
    background-color: rgb(182, 174, 174);
    padding: 15px 0;
    width: 100%;
    margin: 0;
}

.statsListItem {
    padding: 20px;
    display: block;
}

.statsListItem:not(:first-child) {
    border-left: 3px solid grey;
}